body{
    padding: 20px;
    background-color: lightgoldenrodyellow;
    
}

/* .box{
  width: 450px;
  aspect-ratio: 16 / 9;
  background-color: lightsalmon;
} */



.box{
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: lightsalmon;
}

@media (max-width: 900px) {
  .box {
    width: 100%;
    background-color: lightblue;
  }
}


@media (max-width: 600px) {
  .box {
    width: 100%;
    background-color: lightgreen;
  }
}