
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  body {
  font-family: system-ui;
  width: 1440px;
  height: 3337px;
  /* border: 1px solid rgb(228, 225, 225); */
  border-radius: 20px;
}

 .header {
  width: 1440px;
  height: 657px;
  margin-inline: auto;
  

  text-align: left;
} 

.header h6 {
  font-size: 30px;
  
  margin-top: 20px;
  margin-left: 170px;
}

.header h4 {
  font-size: 60px;
  margin-top: 10px;
  margin-left: 170px;
}

 .header img{
  width: 48px;
  height: 48px;
  margin-left: 170px;
  margin-top: 48px;
} 

.body-header h6{
  font-size: 30px;
  margin-left: 170px;
  margin-top: 50px;
  margin-bottom: 50px;
  }



  .body {
  width: 1110px;
  height: 733px;
  margin-inline: auto;
  border: 1px solid rgb(228, 225, 225);
  border-radius: 10px;
}



.body img{
  width: 1062px;
  height: 468px;
  border-radius: 10px;
  
  margin: 20px
}

.body h5{
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
}

.body p{
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.body a{
  font-size: 16px;
  color: black;
  text-decoration: none;
  
  margin-left: 20px;
}

.body2 {
  width: 1110px;
  height: 733px;
  margin-inline: auto;
  border: 1px solid rgb(228, 225, 225);
  margin-top: 60px;
  border-radius: 10px;
  
}

.body2 img{
  width: 1062px;
  height: 468px;
  border-radius: 10px;
  
  margin: 20px
}

.body2 h5{
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
}

.body2 p{
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.body2 a{
  font-size: 16px;
  color: black;
  text-decoration: none;
  
  margin-left: 20px;
}

.body3 {
  width: 1110px;
  height: 733px;
  margin-inline: auto;
  border: 1px solid rgb(228, 225, 225);
  margin-top: 60px;
  border-radius: 10px;
  }

.body3 img{
  width: 1062px;
  height: 468px;
  border-radius: 10px;
  
  margin: 20px
}

.body3 h5{
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
}

.body3 p{
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.body3 a{
  font-size: 16px;
  color: black;
  text-decoration: none;
  
  margin-left: 20px;
}

.body4 {
  width: 1110px;
  height: 200px;
  margin-inline: auto;
  border: 1px solid rgb(228, 225, 225);
  margin-top: 60px;
  border-radius: 10px;
  }

.body4 h4{
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.body4 a{
  font-size: 30px;
  margin: 50px;
  padding: 21px;
  border: 1px solid rgb(228, 225, 225);
  margin-left: 20px;
  border-radius: 10px;
}

.contact h6{
  font-size: 20px;
  
  margin-top: 250px;
  
}

.contact p{
  font-size: 40px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-left: -10px;
}